.venv
node_modules
__pycache__

# Generated Svelte bundles
src/xaiflow/templates/assets/bundle.js
src/xaiflow/templates/assets/bundle.js.map

# Generated HTML reports
*.html
!src/xaiflow/templates/report.html
mlruns
tests/outputs/*
!tests/outputs/.gitkeep